<template id="template-main">
	<style type="text/css">
		iframe{
			width: 100%;
			height: 515px
		}
	</style>
	<div id="panel"></div>
</template>

<script type="text/javascript">
	(function(global){
		var currentDocument = document.currentScript.ownerDocument;

		function getTemplate(selector) {
			return currentDocument.querySelector(selector).content.cloneNode(true);
		}

		function createdCallback() {
			var that = this;
			var shadowRoot = that.createShadowRoot();
			shadowRoot.appendChild(getTemplate('#template-main'));
			that.panel = shadowRoot.querySelector('#panel');
		}

		function init(cid) {
			var that = this;
			var panel = that.panel;
			var iframe = document.createElement('iframe');
			iframe.setAttribute('src', 'http://cdpn.io/' + cid);
			iframe.setAttribute('allowfullscreen', 'allowfullscreen');
			iframe.setAttribute('frameborder', 0);
			panel.appendChild(iframe);

		}
		var proto = Object.create(HTMLElement.prototype, {
			createdCallback: {
				value: createdCallback
			},
			init: {
				value: init
			}
		});

		var HTMLCodepenPreviewElement = document.registerElement('codepen-preview', {
			prototype: proto
		});

		global.HTMLCodepenPreviewElement = HTMLCodepenPreviewElement;
	}(this));
</script>
