<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Image Slider</title>
	<link rel="import" href="imports/image-slider.html">
	<style type="text/css">
		#wrapper {
			width: 800px;
			margin: auto;
		}
	</style>
</head>

<body>
	<div id="wrapper">
		<image-slider>
			<img src="http://lingyucoder-demo.qiniudn.com/imgsliders_1.jpg">
			<img src="http://lingyucoder-demo.qiniudn.com/imgsliders_2.jpg">
			<img src="http://lingyucoder-demo.qiniudn.com/imgsliders_3.jpg">
			<img src="http://lingyucoder-demo.qiniudn.com/imgsliders_4.jpg">
			<img src="http://lingyucoder-demo.qiniudn.com/imgsliders_5.jpg">
			<img src="http://lingyucoder-demo.qiniudn.com/imgsliders_6.jpg">
		</image-slider>
	</div>
</body>
</html>