<link rel="import" href="music-player-progress.html">

<template id="template-main">
	<style type="text/css">
		#control {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: .6;
			height: 80px;
		}
		#buttons {
			margin-left: 20px;
		}
		#buttons span {
			display: inline-block;
			position: relative;
			width: 50px;
			height: 50px;
			margin: 10px 0 0 10px;
			border-radius: 50%;
			background-color: #b2d4dc;
			color: #fff;
			cursor: pointer;
		}

		#prev:before,
		#prev:after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-right: 15px solid #3e6372;
			border-top: 10.65px solid transparent;
			border-bottom: 10.65px solid transparent;
			top: 50%;
			transform: translateY(-50%);
		}
		#prev:before {left: 8px;}
		#prev:after {left: 20px;}

		#play.pause:before{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-left: 20px solid #3e6372;
			border-top: 14.14px solid transparent;
			border-bottom: 14.14px solid transparent;
			top: 50%;
			left: 18px;
			transform: translateY(-50%);
			background: none;

		}

		#play.pause:after {
			opacity: 0;
		}

		#play:before,
		#play:after {
			content: '';
			position: absolute;
			width: 10px;
			height: 25px;
			background-color: #3e6372;
			top: 50%;
			transform: translateY(-50%);
			border: none;
			transition: all .5s cubic-bezier(0.4, 1.3, 0.65, 1);
		}

		#play:before{
			left: 12px;
		}

		#play:after{
			left: 27px;
		}

		#next:before,
		#next:after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-left: 15px solid #3e6372;
			border-top: 10.65px solid transparent;
			border-bottom: 10.65px solid transparent;
			top: 50%;
			transform: translateY(-50%);
		}
		#next:before {right: 8px;}
		#next:after {right: 20px;}
	
		#volume {
			position: relative;
			float: right;
			width: 5px;
			height: 60px;
			background-color: #000;
			margin: 10px 30px;
			cursor: pointer;
		}

		#volume em {
			position: absolute;
			width: 100%;
			background-color: #ff6900;
			left: 0;
			bottom: 0;
		}
		#volume em:before{
			content: '';
			width: 14px;
			height: 14px;
			left: 50%;
			top: 0;
			margin: -7px 0 0 -7px;
			position: absolute;
			background-color: #ff6900;
			border-radius: 50%;
		}

	</style>
	<div id="control">
		<span id="volume"><em></em></span>
		<div id="buttons">
			<span id="prev"></span>
			<span id="play" class="pause"></span>
			<span id="next"></span>
		</div>
		
	</div>
</template>


<script type="text/javascript">
	(function(global){
		var currentDocument = document.currentScript.ownerDocument;

		function getTemplate(selector) {
			return currentDocument.querySelector(selector).content.cloneNode(true);
		}

		var proto = Object.create(HTMLElement.prototype, {
			createdCallback: {
				value: function() {
					var that = this;
					var shadowRoot = that.createShadowRoot();
					shadowRoot.appendChild(getTemplate('#template-main'));

					var control = shadowRoot.querySelector('#control');
					var prev = that.prev = shadowRoot.querySelector('#prev');
					var play = that.play = shadowRoot.querySelector('#play');
					var next = that.next = shadowRoot.querySelector('#next');
					var volume = that.volume = shadowRoot.querySelector('#volume');

					var progress = that.progress = document.createElement('music-player-progress');

					control.insertBefore(progress, control.firstChild);

					progress.addEventListener('change', function(event){
						that.dispatchEvent(new CustomEvent('current', {
							detail: event.detail
						}));
					});


					prev.onclick = function(){
						that.dispatchEvent(new CustomEvent('prev'));
					};
					play.onclick = function(){
						if(this.classList.contains('pause')) {
							that.dispatchEvent(new CustomEvent('play'));
							this.classList.remove('pause');
						} else {
							that.dispatchEvent(new CustomEvent('pause'));
							this.classList.add('pause');
						}
					};
					next.onclick = function(){
						that.dispatchEvent(new CustomEvent('next'));
					};
					volume.onmousewheel = function(event){
						var value;
						if(event.wheelDelta >= 120) {
							value = +volume.dataset.volume + 5;
						} else if (event.wheelDelta <= -120) {
							value = +volume.dataset.volume - 5;
						}
						value = value > 100 ? 100:value;
						value = value < 0 ? 0: value;
						volume.dataset.volume = value;
						that.setVolume(value / 100);
						that.dispatchEvent(new CustomEvent('volume', {
							detail: value / 100
						}));
						event.stopPropagation();
						event.preventDefault();
					};
				}
			},
			setPaused: {
				value: function(paused) {
					var that = this;
					if (paused) {
						that.play.classList.add('pause');
					} else {
						that.play.classList.remove('pause');
					}
				}
			},
			setVolume: {
				value: function(volume){
					var that = this;
					var value = volume * 100;
					that.volume.dataset.volume = value;
					that.volume.querySelector('em').style.height = value + '%';

				}
			},
			setTime: {
				value: function(per){
					this.progress.setCur(per);
				}
			}
		});

		var HTMLMusicPlayerControlElement = document.registerElement('music-player-control', {
			prototype: proto
		});

		global.HTMLMusicPlayerControlElement = HTMLMusicPlayerControlElement;
	}(this));
</script>